body {
    min-width: 375px;
}

.color-palette-blue {
    background-color: #004b99;
}

.eigel-branch-office {
    padding-top: 5px;
}

#footer {
    border-top: 4px solid #194073;
}


.left-section-contact-us-image {
    max-width: 546px;
    max-height: 550px;
    overflow: hidden;
}

@media (min-width: 768px) {
    .header-container{
        max-width: 1200px;
    }
}

@media (max-width: 768px) {
    /* Custom CSS for search and filter in Datatables of clients and projects page */
    .dataTables_length label, .dataTables_filter label {
        width: 100%;
    }

    .dataTables_filter label {
        padding-top: 5px;
    }
    /* Custom CSS for search and filter in Datatables of clients and projects page */

    .header-container{
        max-width: 768px;
        min-width: 375px;
    }
}
