.article-sidebar-logo {
    width: 350px;
}

body {
    min-width: 375px;
}

.color-palette-blue {
    background-color: #004b99;
}

.eigel-branch-office {
    padding-top: 5px;
}

#footer {
    border-top: 4px solid #194073;
}

.grid {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(360px,1fr));
    grid-auto-rows: 20px;
    margin-bottom: 100px;
}

.left-section-contact-us-image {
    max-width: 546px;
    max-height: 550px;
    overflow: hidden;
}

.read-more-article-page {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.read-more-article-page a:hover {
    color: white
}

/* Homepage Testimonial Items */
.logo-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}

.testimonial-logo-image {
    width: 120px !important;
}

@media (max-width: 476px) {
    .logo-item {
        height: 200px;
    }
    
    .testimonial-logo-image {
        width: 180px !important;
    }
}

@media (min-width: 768px) {
    .header-container{
        max-width: 1200px;
    }
}

@media (max-width: 768px) {
    .get-started {
        margin-left: auto;
        margin-right: auto;
    }
    
    /* Custom CSS for search and filter in Datatables of clients and projects page */
    .dataTables_length label, .dataTables_filter label {
        width: 100%;
    }

    .dataTables_filter label {
        padding-top: 5px;
    }
    /* Custom CSS for search and filter in Datatables of clients and projects page */

    .header-container{
        max-width: 768px;
        min-width: 375px;
    }
}
